/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 70px 0 0px; /* height navbar: 70px footer: 70px */
}
