<!-- app/views/shared/_footer.html.erb -->
<footer>
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-4">
          <ul class="list-inline">
            <li>
              <a href="">
                <span class="fa-stack fa-sm">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x"></i>
                </span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="fa-stack fa-sm">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
                </span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="fa-stack fa-sm">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-xs-8 text-right">
          <p>Experience the finest homes with an unprecedented level of service and care.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
