<body>
<div class="banner" style="background: linear-gradient(-225deg, rgba(15,22,40,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://onefinestay.imgix.net/media-library/homepage_hero_2-retouch.jpg?w=1200&q=100&fit=crop&rect=0,401,5747,3232');">
  <div class="banner-content">
    <h1></h1>
    <p>Renowned hospitality for stays in the finest homes.</p>
    <form action="#" class="form-inline">
      <input type="text" class="form-control input-lg" placeholder="City, Country">
      <input type="text" class="form-control input-lg" placeholder="Checkin">
      <input type="text" class="form-control input-lg" placeholder="Checkout">
      <select name="" id="" class="form-control input-lg">
        <option value="1">1 guest</option>
        <option value="2">2 guests</option>
        <option value="3">3 guests</option>
      </select>
      <input type="submit" class="wagon-button" value="Search">
    </form>
  </div>
</div>

<!-- Your cards code -->
<div class="wrapper-grey padded">
  <div class="container">
    <h2 class="text-center"></h2>
    <div class="row">

      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="card-category">HOMEOWNERS</div>

          <div class="card-description">
            <hr>
            <p>Our service for homeowners is flexible, reliable and convenient.<br> Join us today.</p>
          </div>

          <a class="card-link" href="#"></a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="card-category">OUR SERVICE</div>
          <div class="card-description">
            <hr>
            <p>Every home has our hospitality standards for your stay. <br> Amenities included.</p>
          </div>

          <a class="card-link" href="#"></a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="card-category">CONVENIENCE</div>
          <div class="card-description">
            <hr>
            <p>Tailor your experience with extras when you book your. <br> Our concierge will take care of you. </p>
          </div>

          <a class="card-link" href="#"></a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
