<body>
<div class="banner" style="background: linear-gradient(-225deg, rgba(15,22,40,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://onefinestay.imgix.net/media-library/homepage_hero_2-retouch.jpg?w=1200&q=100&fit=crop&rect=0,401,5747,3232');">
  <div class="banner-content">
    <h1></h1>
    <p>Renowned hospitality for stays in the finest homes.</p>
    <form action="#" class="form-inline">
      <input type="text" class="form-control input-lg" placeholder="City, Country">
      <input type="text" class="form-control input-lg" placeholder="Checkin">
      <input type="text" class="form-control input-lg" placeholder="Checkout">
      <select name="" id="" class="form-control input-lg">
        <option value="1">1 guest</option>
        <option value="2">2 guests</option>
        <option value="3">3 guests</option>
      </select>
      <input type="submit" class="wagon-button" value="Search">
    </form>
  </div>
</div>
</body>
