.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 85%;
    margin: auto;
  }

.carousel-control.left {
     background-image: none;

}

.carousel-control.right {
     background-image: none;

}
